<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>商家管理</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<script type="text/javascript" th:src="@{/js/loader.js}"></script>
	<style type="text/css">
		label{max-width:none;}/* 解决百度地图与bootstap的冲突 */
	</style>
  </head>
  <!-- 复杂版的页面，可作为进阶整合案例 -->
  <body>
  	<div id="wrapper">
  		<div th:replace="rest/main::#header"></div>
  		<div th:replace="rest/main::#menu"></div>
		<div id="page-wrapper">
			<div id="page-inner">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3>商家管理 </h3>
							</div>
							<div class="panel-body">
								<form id="formSearch" class="form-horizontal">
									<div class="form-group" style="margin:15px">
										<label class="control-label col-sm-1" for="partnername">商 家:</label>
										<div class="col-sm-3">
											<input type="text" class="form-control" id="partnername" placeholder="查询全部默认不填" />
										</div>
										<div class="col-sm-3" style="text-align:center;">
											<button type="button" id="btn_query" class="btn btn-primary" onclick="getPartner()" >
												<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查询
											</button>
										</div>
										<label class="control-label col-sm-1" for="address">地 址:</label>
										<div class="col-sm-2">
											<input type="text" class="form-control" id="address"/>
										</div>
										<div class="col-sm-2" style="text-align:center;">
											<button type="button" id="btn_goto" class="btn btn-primary" onclick="addressResolution()" >
												<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 前往
											</button>
										</div>
									</div>
								</form>
								<div id="toolbar" class="btn-group">
									<button id="btn_add" type="button" class="btn btn-default">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增
									</button>
									<!--<button id="btn_edit" type="button" class="btn btn-default">
										<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 修改
									</button>
									<button id="btn_delete" type="button" class="btn btn-default">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
									</button>
									<button id="btn_freeze" type="button" class="btn btn-default">
										<span class="glyphicon glyphicon-retweet" aria-hidden="true"></span> 冻结/解冻
									</button>-->
								</div>
								<!-- @@@@@@@@@@@@     地图数据     @@@@@@@@@@@@@ -->
								<div id="allmap" style="height: 700px"></div>
								<!-- @@@@@@@@@@@@     地图数据     @@@@@@@@@@@@@ -->
							</div>
						</div>
						<!-- 商家信息模态框（Modal） partnerModal-->
						<div class="modal fade" id="partnerModal" tabindex="-1" role="dialog"
							aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">×</button>
										<form method="post" id="infoForm">
											<input type="hidden" id="editCity" name="partnerCity" class="form-control">
											<input type="hidden" id="editPartnerLng" name="partnerLng" class="form-control">
											<input type="hidden" id="editPartnerLat" name="partnerLat" class="form-control">
											<table class="table" style="font: 16px '微软雅黑' ;">
												<thead>
													<tr>
														<th>商 家 信 息：</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td><b>商 家：</b></td>
														<td><input type="text" id="editPartnerName" name="partnerName" class="form-control" required/></td>
													</tr>
													<tr>
														<td><b>联 系 电 话：</b></td>
														<td><input type="text" id="editPartnerPhone" name="partnerPhone" class="form-control" required/></td>
													</tr>
												</tbody>
											</table>
											<div class="modal-footer" id="editPartnerFooter">
												<!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
												<button type="button" class="btn btn-primary" id="btn_submit">提交</button>-->
											</div>
										</form>
									</div>
								</div>
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!-- /.modal -->
                        <!-- 充电桩信息模态框（Modal） detailModal-->
                        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×</button>
                                        <form method="post" id="powerForm" action="/hub/addHub.do">
                                            <table class="table" style="font: 16px '微软雅黑' ;">
                                                <thead>
                                                <tr>
                                                    <th colspan="3">充 电 桩 信 息：</th>
                                                </tr>
                                                </thead>
                                                <tbody id="power_tobdy">
                                                <!--  <tr>
                                                    <td><b>状 态：</b></td>
                                                    <td><select id="status" name="status"
                                                        class="form-control">
                                                            <option value="1">正常</option>
                                                            <option value="2">冻结</option>
                                                    </select></td>
                                                </tr>  -->
                                                </tbody>
                                            </table>
                                            <div class="modal-footer" id="addHubFooter">
                                                <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                                                <!---->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=mLiFKf643aRs1dpik9CDY7gWflDSoldi"></script>
	<script th:inline="javascript">

		var isAddModel=false;//是否为添加模式
		var centerPoint;
		var map;
		var geoc;
		var geol;
		var bounds;
		var city;
		let clickPartner;
		
		$(function() {
			map = new BMap.Map("allmap");    // 创建Map实例
			geoc = new BMap.Geocoder(); //创建一个地址解析器的实例
			geol = new BMap.Geolocation();	//创建Geolocation对象实例 定位
			geol.enableSDKLocation(); //开启SDK辅助定位，仅当使用环境为移动web混合开发，且开启了定位sdk辅助定位功能后生效
			map.centerAndZoom(new BMap.Point(118.08, 24.61), 18);  // 初始化地图,设置中心点坐标和地图级别
			getCenter();
			geol.getCurrentPosition(  function(gr){//返回用户当前位置。定位完成时（包括成功、失败、超时等情况），回调参数为GeolocationResult对象，否则为null
				console.log(this.getStatus());
				if(this.getStatus() == BMAP_STATUS_SUCCESS){
					var mk = new BMap.Marker(gr.point);
					map.addOverlay(mk);
					map.panTo(gr.point);
					toastr.success('您的位置：'+gr.point.lng+','+gr.point.lat);
				}else if(this.getStatus()==8){
					toastr.warning('定位超时使用默认位置');
				}
			},{enableHighAccuracy: true});
			
			
			/* 添加拖拽事件 */
			map.addEventListener("dragend",getPartner);
			
			/*添加城市控件  */
			map.addControl(new BMap.CityListControl({
			    anchor: BMAP_ANCHOR_TOP_LEFT,
			    offset: new BMap.Size(10, 20),
			    // 切换城市之间事件
			    // onChangeBefore: function(){
			    //    alert('before');
			    // },
			    // 切换城市之后事件
			    onChangeAfter:function(){
			       getPartner();
			    }
			}));
			
			/* 增加按钮初始化 */
			$("#btn_add").click(function(e) {
				if(isAddModel==false){
					isAddModel=true;
					map.addEventListener("click", addPartner);
				}else{
					isAddModel=false;
					map.removeEventListener("click", addPartner);
				}
			});
			
			//2.初始化Button的点击事件
			getPartner();
		});
		
		/* 增加按钮函数*/
		function addPartner(e){
			console.log(e.point.lng + "," + e.point.lat);
			$("#editPartnerLat").val(e.point.lat);
			$("#editPartnerLng").val(e.point.lng);
			geoc.getLocation(e.point, function(rs){  //解析点所在位置
				var addComp = rs.addressComponents;
				console.log(addComp.city);
				console.log(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber);
				$("#editCity").val(addComp.city);
			});
			$("#editPartnerFooter").empty().append(`<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
												<button type="button" class="btn btn-primary" onclick="addPartnerSubmit()">提交</button>`)
			$("#partnerModal").modal("show");
		}

		function addPartnerSubmit(){
            var param = $("#infoForm").serializeJson();
            console.log(param);
            $.add("/partner/addPartner.do", param, function(data) {
                console.log(data);
                if(data.state==0){
                    toastr.success(data.message);
                    var marker=new BMap.Marker(new BMap.Point(param.partnerlng,param.partnerlat));
                    map.addOverlay(marker);
                }else{
                    toastr.warning(data.message);
                }
            });
            $("#partnerModal").modal("hide");
        }
		/* 提交按钮 */
		/*$("#btn_submit").click(function() {
			var param = $("#infoForm").serializeJson();
			console.log(param);
			$.add("/partner/addPartner.do", param, function(data) {
				console.log(data);
				if(data.state==0){
					toastr.success(data.message);
					var marker=new BMap.Marker(new BMap.Point(param.partnerlng,param.partnerlat));
					map.addOverlay(marker); 
				}else{
					toastr.warning(data.message);
				}
			});
			$("#partnerModal").modal("hide");
		});*/
		
		/* 获取中心点 */
		function getCenter(){
			map.clearOverlays();//清除所有覆盖物
			bounds=map.getBounds(); //获取可视区域
			console.log("center"+bounds.getCenter().lng);
			centerPoint=bounds.getCenter(); //地图中心点
			geoc.getLocation(centerPoint, function(rs){  //解析点所在位置
				var addComp = rs.addressComponents;
				//console.log(addComp.city);
				city=addComp.city;
				console.log(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber);
			}); 
		}
		
		/* 获取商家 */
		function getPartner(){
			getCenter();
			$.ajax({  
	            type: "GET",   //提交的方法
	            url:"/partner/findPartner.do", //提交的地址
	            data:{
	            	partnerName:$("#partnername").val(),
	            	partnerLng:centerPoint.lng,
	            	partnerLat:centerPoint.lat
	            },// 序列化表单值  
	            async: false,  
	            error: function(request) {  //失败的话
	                 toastr.warning("出错了"); 
	            },  
	            success: function(data) {  //成功
					console.log(data);
	            	if(data.state==0){
		    			console.log(typeof(data.datas));
		    			console.log(data);
		    			for(var i=0;i<data.datas.length;i++){
							console.log(data.datas[i].partnerLng);
		    				var marker=new BMap.Marker(new BMap.Point(data.datas[i].partnerLng,data.datas[i].partnerLat));
		    				marker.setLabel(new BMap.Label(data.datas[i].partnerName,{offset:new BMap.Size(0,-15)}));
		    				marker.setTitle(data.datas[i].partnerName);
		    				marker.partner=data.datas[i];//将partner信息添加到marker中
		    				marker.addEventListener("click",markerAction);
		    				marker.addEventListener("mouseover",function(){this.setTop(true)});
		    				marker.addEventListener("mouseout",function(){this.setTop(false)});
							map.addOverlay(marker);
		    			}
	            	}
	            }
         });
		}
		
		/* 地址解析 */
		function addressResolution(){
			var address=$("#address").val();
			geoc.getPoint(address, function(point){
				if (point) {
					map.centerAndZoom(point, 18);
					let mar=new BMap.Marker(point);
					mar.setAnimation(BMAP_ANIMATION_BOUNCE);
					mar.disableMassClear();
					map.addOverlay(mar);
				}else{
					toastr.warning("您选择地址没有解析到结果!");
				}
			}, city);
		}
		
		/*覆盖物点击事件  */
		function markerAction(){
			console.log(this.partner);
			var partner=this.partner;
			clickPartner = this.partner;
			console.log(typeof (partner.partnerId))
			var opts = {
				title : "商家信息" , // 信息窗口标题
				enableMessage:true//设置允许信息窗发送短息
		   	};
            //var hubsHtml="<hr/><table class='table table-hover'><thead><th>电宝ID：</th><th>端口数：</th><th colspan='2'>状态：</th></thead>";
			let hubsHtml=`<hr/><table class="table table-hover"><thead><th>电桩ID：</th><th>端口数：</th><th colspan='2'>状态：</th></thead>`
            var hub=0;
			$.ajax({
				type: 'GET',
				url: "/hub/findHubById.do",
				contentType: 'application/json',
                async:false,
				data:{partnerId:partner.partnerId},
				success: function(data){
					console.log(data);
					if(data.state == 0){
					    hub=data.datas.length;
					    for (var i=0;i<data.datas.length;i++) {
                            hubsHtml=hubsHtml+"<tr><td>"
                                +data.datas[i].hubId+"</td><td>"+data.datas[i].hubPort+"</td><td>"
									+data.datas[i].hubState+"</td><td><button class='btn btn-sm' onclick='powerModel(this)'>详细</button></td></tr>"
                        }
                        hubsHtml=hubsHtml+`</table>`;
                    }
				},
				error: function(req, status, ex) {toastr.error("操作异常！");},
				timeout:60000
			});
			//$.query("/hub/findHubById.do",)
            /*var partnerHtml="<table class='table table-hover'><tbody><tr><td >商家ID:</td><td>"
                +partner.partnerId+"</td></tr><tr><td >商家名称:</td><td>"+partner.partnerName+"</td></tr></tbody></table>";*/
            let partnerHtml = `<table class='table table-hover'>
									<tbody>
										<tr><td >商家ID:</td><td>${partner.partnerId}</td></tr>
										<tr><td >商家名称:</td><td>${partner.partnerName}</td></tr>
										<tr>
											<td><button class="btn btn-success btn-sm" onclick="addHub()">添加电桩</button></td>
											<td><button class="btn btn-danger btn-sm" onclick="editPartner()">修改</button></td>
										</tr>
									</tbody>
								</table>`;
            let html;
            if (hub>0){
                html=partnerHtml+hubsHtml;
            }else{
               html=partnerHtml;
            }
            console.log(html);
			var infoWindow = new BMap.InfoWindow(html,opts);
			map.openInfoWindow(infoWindow,this.getPosition()); //开启信息窗口
		}

		function powerModel(e) {
		    var hubInfo=e.parentNode.parentNode.childNodes;
		    var hubId =Number(hubInfo[0].innerText);
		    console.log(typeof (hubId));
            console.log(e.parentNode.parentNode.childNodes);
            $.ajax({
                type: 'POST',
                url: "/power/findPower.do",
                //contentType: 'application/json',
                async:false,
                data:{hubId : hubId},
                success: function(data){
                    console.log(data);
                    if(data.state == 0){
                        $("#power_tobdy").empty();
                        $("#power_tobdy").append("<tr><td><b>电 宝：</b></td><td><b>电 量：</b></td><td><b>状 态：</b></td><td><b>归 还 时 间：</b></td></tr>");
                        for (var i=0;i<data.datas.length;i++) {
                            var powerFull= data.datas[i].powerFull==1?"电量充足":"电量不足";
                            $("#power_tobdy").append(`<tr><td>${data.datas[i].powerId}</td><td>${data.datas[i].powerState}</td><td>${powerFull}</td><td>${data.datas[i].orderReturnTime}</td></tr>`)
                        }

                    }
                },
                error: function(req, status, ex) {toastr.error("操作异常！");},
                timeout:60000
            });
            $("#addHubFooter").empty().append(`<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>`);
			$("#detailModal").modal("show");
        }
        
        function editPartner() {
			$("#infoForm").setForm(clickPartner);
			$("#editPartnerFooter").empty().append(`<input type="hidden" name="partnerId" value="${clickPartner.partnerId}">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
												<button type="button" class="btn btn-primary" onclick="editPartnerSubmit()">提交</button>`)
			$("#partnerModal").modal("show");
			console.log("clickPartner",clickPartner)
		}

		function editPartnerSubmit() {
            var param = $("#infoForm").serializeJson();
            console.log(param);
            $.ajax({
                type: 'POST',
                url: "/partner/updatePartner.do",
                //contentType: 'application/json',
                async:false,
                data:$("#infoForm").serializeJson(),
                success: function(data){
                    if(data.state==120){
                        toastr.success(data.message);
                    }else{
                        toastr.warning(data.message);
                    }
                },
                error: function(req, status, ex) {toastr.error("操作异常！");},
                timeout:60000
            });
            /*$.add("/partner/updatePartner.do", param, function(data) {
                console.log(data);
                if(data.state==120){
                    toastr.success(data.message);
                }else{
                    toastr.warning(data.message);
                }
            });*/
            map.closeInfoWindow();
            $("#partnerModal").modal("hide");
        }
		function addHub() {
			$("#power_tobdy").empty();
			let addHubHtml = `<input id="addPartnerId" type="hidden" name="partnerId" value="${clickPartner.partnerId}"/>
								<tr><td><b>端口数：</b></td><td>
									<select id="addHubPort" name="hubPort" class="form-control">
                                                            <option>8</option>
                                                            <option>16</option>
                                    </select></td></tr>`;
			$("#power_tobdy").append(addHubHtml);
			$("#addHubFooter").empty().append(`<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button><button type="button" class="btn btn-primary" onclick="addHubSubmit()">提交</button>`);
			$("#detailModal").modal("show");
		}
		
		function addHubSubmit() {
			$.ajax({
				type: 'POST',
				url:"/hub/addHub.do",
				async:false,
				data:{
					partnerId : $("#addPartnerId").val(),
					hubPort: $("#addHubPort").val()
				},
				success: function(data){
					console.log(data);
					if(data.state == 0){
						toastr.success(data.message);
					}else{
						toastr.error("添加失败")
					}
				},
				error: function(req, status, ex) {toastr.error("操作异常！");},
				timeout:60000
			});
			$("#detailModal").modal("hide");
			map.closeInfoWindow();
		}
	</script>
  </body>
</html>
